<!-- <div class="myWrapFlexbox"> -->
<div class="row">    
  <!--  <div class="myColItem"> -->
    <div class="col-sm-5">
        <div class="card">
            <div class="card-header bg-primary text-white">
                    catégorie à selectionner:
            </div>
             <div class="card-body">
                <ul>
                     <li *ngFor="let c of listeCategories"
                         (click)="onSelectCategorie(c)"
                         [class.selected]="c==categorie">{{c}}</li>
                   </ul> <br/>
           </div> <!-- end of card-body -->
       </div> <!-- end of card -->
    </div><!-- end of col-sm-5 -->
    <!-- <div class="myColItem" *ngIf="categorie"> -->
    <div class="col-sm-7" *ngIf="categorie">
        <div class="card">
            <div class="card-header bg-primary text-white">
                produits de la catégorie {{categorie}} :
           </div>
            <div class="card-body">
                <table border="1" > 
                    <tr> <th>ref</th> <th>label</th> <th>prix</th> </tr> 
                    <tr *ngFor="let p of listeProduits" > 
                        <td>{{p.ref}}</td> <td>{{p.label}}</td> <td>{{p.prix}}</td> 
                    </tr> 
                </table>
            </div>
       </div>
    </div>
</div>

